<ul>
  <% @fruits.each do |fruit| %>
    <li><%= fruit.name %>:<%= fruit.description %>
      -- <a href="/fruits/<%= fruit.id %>/edit">edit <%= "#{fruit.name}" %></a>
      -- <a data-method="delete" href="/fruits/<%= fruit.id %>">delete <%= "#{fruit.name}" %></a></li>
  <% end %>
</ul>